<p id="notice"><%= notice %></p>

<h1><%= @portfolio_item.title %></h1>

<em><%= @portfolio_item.subtitle %></em>

<p><%= @portfolio_item.body %></p>

<%= image_tag @portfolio_item.main_image unless @portfolio_item.thumb_image.nil? %><br>

<%= link_to 'Edit', edit_portfolio_path(@portfolio_item.id) %> |
<%= link_to 'Back', portfolios_path %>